@font-face {  
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold.woff') format('woff'),
         url('fonts/OpenSans-Bold.ttf') format('truetype'),
         url('fonts/OpenSans-Bold.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {  
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-BoldItalic.eot');
    src: url('fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-BoldItalic.woff') format('woff'),
         url('fonts/OpenSans-BoldItalic.ttf') format('truetype'),
         url('fonts/OpenSans-BoldItalic.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {  
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular.woff') format('woff'),
         url('fonts/OpenSans-Regular.ttf') format('truetype'),
         url('fonts/OpenSans-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {  
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Italic.eot');
    src: url('fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic.woff') format('woff'),
         url('fonts/OpenSans-Italic.ttf') format('truetype'),
         url('fonts/OpenSans-Italic.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {  
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light.woff') format('woff'),
         url('fonts/OpenSans-Light.ttf') format('truetype'),
         url('fonts/OpenSans-Light.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {  
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-LightItalic.eot');
    src: url('fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-LightItalic.woff') format('woff'),
         url('fonts/OpenSans-LightItalic.ttf') format('truetype'),
         url('fonts/OpenSans-LightItalic.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
body {
    overflow:hidden;
    font-family:'Open Sans Light', sans-serif;
    background-color:#eeffee;
    background-image:url('background.jpg');
    background-size: 100% auto;
    margin:0;
    padding:0;
}
.transaction-output-header { 
    font-weight:normal;
    margin:0;
    padding:0;
    font-size:14px;
}
.transaction-id-wrapper { 
    margin-top:20px;
}
#transaction-outputs-inner-wrapper { 
    position:relative;
    overflow:hidden;
}
.transaction-outputs-wrapper { 
    margin-top:20px;
}
.transaction-header { 
    font-weight:normal;
    margin:0;
    padding:0;
    font-size:32px;
}
.transaction-id a { 
    font-size:10px;
}
.transaction-id { 
    margin-top:10px;
}
.transaction a:hover { 
    color:#ff8600;
}
.transaction a { 
    text-decoration:none;
    color:#000;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: color;
}
.output div { 
    font-size:10px;
}
.output { 
    margin-bottom:10px;
}
svg#graph {
    left:0;
    top:0;
    position:absolute;
    z-index:9;
}
#watchaddress {
    font-family:'Open Sans Light';
    font-size:13px;
    background:transparent;
    border:0;
}
#watch { 
    font-size:13px;
    z-index:12;
    padding:12px;
    padding-left:20px;
    position:absolute;
    left:0;
    bottom:0;
}
#incoming {
    position:absolute;
    top:0;
    left:0;
    padding-left:20px;
    font-size:28px;
    color:#000;
    font-family:'Open Sans Light', sans-serif;
    z-index:10;
}
#menu span {
    margin-left:20px;
}
#menu {
    position:absolute;
    padding:14px 18px;
    right:0;
    top:0;
    z-index:11;
    text-align:right;
}
#sound:hover { 
    color:#ff8600
}
#sound.on { 
    background-position:0px -1px;
}
.publickeyaddress { 
    background-image:url('publickey.png');
    background-repeat:no-repeat;
    padding-left:21px;
}
#sound {
    background-image:url('speaker.png');
    background-repeat:no-repeat;
    padding-left:30px;
    background-position:0px -27px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: color;    
    cursor:pointer;
}
#pause.on { 
    background-color:#ff8600;  
    font-family:'Open Sans Bold';
}
#pause.on:hover { 
    background-color:#0079ff;  
}
#pause:hover { 
    background-color:#ff8600;  
}
#pause {
    letter-spacing:0.75px;
    background-color:#0079ff;  
    color:#fff;
    border-radius:5px;
    padding:2px 7px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: background-color;
    cursor:pointer;
}
#footer a { 
    text-decoration:none;
    color:#ff8600;
}
#footer { 
    position:absolute;
    z-index:12;
    bottom:0;
    padding:10px 20px;
    left:0;
    font-size:12px;
}
#title {
    background-image:url('bitcoin_logo.png');
    background-repeat:no-repeat;
    background-position:15px 10px;
    position:absolute;
    padding:14px 54px;
    left:0;
    top:0;
    z-index:12;
}
#rates { 
    position:absolute;
    bottom:0;
    right:0;
    font-size:12px;
    padding:10px 20px;
}